body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.products-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cart-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.mini-cart-block {
    width: 30%;
}

.product {
    width: 30%;
    border: 1px solid black;
}

.product-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.price-add-to-cart {
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.cart-product-image {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.cart-img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.cart-product {
    display: flex;
    justify-content: space-between;
}



